.jawaban-2{
    background-color: pink;
    text-align: center;
    padding: 5px;
    color: black
}

img{
    width: 30%;
}

.food-menu{
    justify-content: center;
}

.container-soal2{
    width: 80%;
    height: 150px;
    overflow: scroll;
    margin: auto;
}