.angka{
    font-size: 50px;
    margin: 20px;
}

.counter{
    display: inline;
}

.pertanyaan-1{
    padding:50px;
    text-align: center;
    color:maroon;
}

.pertanyaan-1 > p{
color:maroon;
}

.jawaban-1{ 
    background-color:	#fee7ff;
    padding: 100px;
    text-align: center;
    color:maroon;
}

.jawaban-1 > p{
    color: maroon;
}

button{
    padding-left: 10px;
    padding-right: 10px;
    background-color:palevioletred;
    color: white;
    border: 1px solid white;
}
