.jawaban-2{
    background-color: pink;
    text-align: center;
    padding: 10px;
    color: black
}

img{
    width: 30%;
}



.container-soal2{
    width: 80%;
    height: 150px;
    overflow: scroll;
    margin: auto;
}